.page.onboarding {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
}