@media screen and (min-width: 769px) {
    .posts {

        display: flex;
        flex-direction: column;
    
        & .post {
            display: flex;
            margin: 25px 0;
            padding: 25px 45px;
            background-color: #FFFFFF;
            flex-direction: column;
            border-radius: 15px;
    
            & .post-header {
    
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
    
                & .left {
                    display: flex;
                    align-items: center;
    
                    & p {
                        margin: 0;
                    }
                    & .avatar-image {
                        height: 30px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                    & .shared-link {
                        color: #F78604;
                        text-decoration: none;
                    }
                }
                & .right {
                    display: flex;
                    align-items: center;
                    & .icon-holder {
                        margin-right: 5px;
                    }
                }
            }
            & .post-content {
                padding-bottom: 15px;
                
            }
            & .post-footer {
                border-top: 1px solid #6d6a6a;
                display: flex;
                justify-content: space-between;
                padding-top: 15px;
            }
        }
    
    }
}

@media screen and (max-width: 769px) {
    .posts {

        display: flex;
        flex-direction: column;
    
        & .post {
            display: flex;
            margin: 25px 0;
            padding: 10px;
            background-color: #FFFFFF;
            flex-direction: column;
            border-radius: 15px;
    
            & .post-header {
    
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
    
                & .left {
                    display: flex;
                    align-items: flex-start;
                    font-size: 14px;
    
                    & p {
                        margin: 0;
                    }
                    & .avatar-image {
                        height: 30px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                    & .shared-link {
                        color: #F78604;
                        text-decoration: none;
                    }
                    & .date-time {
                        color: #A1A1A1;
                        font-size: 12px;
                    }
                }
                & .right {
                    
                    display: flex;
                    align-items: center;
                    flex-basis: 100px;

                    & .icon-holder {
                        margin-right: 5px;
                    }
                }
            }
            & .post-content {
                padding-bottom: 15px;
                
            }
            & .post-footer {
                border-top: 1px solid #6d6a6a;
                display: flex;
                justify-content: space-between;
                padding-top: 15px;
            }
        }
    
    }
}