@media screen and (min-width: 769px) {
    .posts {

        display: flex;
        flex-direction: column;
    
        & .post {
            display: flex;
            margin: 25px 0;
            padding: 25px 45px;
            background-color: #FFFFFF;
            flex-direction: column;
            border-radius: 15px;
            & .profile-block {
                
                & .primary {
                    margin-left: 12px;
                }
                
                & .arrow {
                    margin-left: 15px;
                    border: solid #cfcfcf;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    transform: rotate(45deg);
                    padding: 3px;
                }
            }
            & .post-header {
    
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
    
                & .left {
                    display: flex;
                    align-items: center;
    
                    & p {
                        margin: 0;
                    }
                    & .avatar-image {
                        height: 30px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                    & .shared-link {
                        color: #F78604;
                        text-decoration: none;
                    }
                }
                & .right {
                    display: flex;
                    align-items: center;
                    & .icon-holder {
                        margin-right: 5px;
                    }
                }
            }
            & .post-content {
                padding-bottom: 15px;

                & .post-image {
                    max-width: 100%;
                    max-height: 100%;
                    display: block; /* remove extra space below image */
                    margin-left: auto;
                    margin-right: auto;
                }                 
            }
            & .post-footer {
                border-top: 1px solid #6d6a6a;
                display: flex;
                justify-content: space-between;
                padding-top: 15px;

                & .runs-hld {
                    cursor: pointer;
                    position: relative;

                    & .tip {
                        
                        position: absolute;
                        transition: all 0.4s ease-in;
                        top: -40px;
                        left: -135px;

                        &.hidden {
                            opacity: 0;
                            visibility: hidden;
                        }
                        &.visible {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    & svg {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        color: transparent;
                    }
                }

                & .comments-hld {

                    position: relative;
                    cursor: pointer;
                    
                    & .info-box {
                        position: absolute;
                        background: #80CA00;
                        padding: 2px 5px;
                        font-size: 8px;
                        top: -10px;
                        right: -8px;
                        border-radius: 4px;
                        color: #ffffff;
                    }
                }

                & .share-hld {
                    cursor: pointer;
                    & .share-modal {
                        border-radius: 20px;
                        padding: 20px;
                        box-sizing: border-box;
                        max-width: 650px;
                        position: fixed;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #ffffff;
                        width: 75vw;
                        height: 75vh;
                        z-index: 2;
                        transition: all 0.5s;

                        & .link-block {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding-bottom: 25px;
                            margin: auto;
                            border-top: 1px solid #707070;
                    
                            & .info {
                                color: #131639;
                            }
                            & .copy-link-cnt {
                                display: flex;
                                width: 100%;
                                & .copy-text-cnt {
                                    display: flex;
                                    flex-grow: 1;
                                    & .refer-id {
                                        font-family: inherit;
                                        width: 100%;
                                        padding-left: 25px;
                                        outline: none;
                                        border: 1px solid #131639;
                                        border-radius: 0 10px 10px 0;
                                    }
                                }
                            }
                            & .copy-btn-cnt {
                                
                                background-color: #131639;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                padding: 13px 16px;
                                border-radius: 10px 0 0 10px;
                    
                                & .copy {
                                    background-color: transparent;
                                    cursor: pointer;
                                    border: none;
                                    color: #ffffff;
                                    font-family: inherit;
                                }
                            }
                        }

                        &.hidden {
                            top: -100%;
                        }
                        &.visible {
                            top: 50%;
                        }

                        &__container__form {
                            border: 1px solid #707070;
                            padding: 10px;
                            border-radius: 8px;

                            & .content {
                                flex-direction: column;
                                align-items: baseline;
                                & .avatar {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 15px;
                                }
                            }
                        }

                        &__container__actions {
                            
                            display: flex;
                            justify-content: flex-end;
                            margin: 25px 0;


                            & .button {
                                & .cancel {
                                    color: #131639;
                                    background-color: transparent;
                                    border: 1px solid #131639;
                                }
                                & .share {
                                    color: #ffffff;
                                    background-color: #131639;
                                    border: 1px solid #131639;
                                }
                                &:not(:last-child) {
                                    margin-right: 10px;
                                }
                            }
                        }

                        & textarea {
                            width: 100%;
                            font-family: inherit;
                            border: none;
                            resize: none;
                            outline: none;
                            height: 150px;
                            border-bottom: 1px solid #707070;
                        }
                    }
                } 
            }
            & .comments-holder {
                transition: all 0.5s ease-in;
                &.visible {
                    height: unset;
                }
                &.hidden {
                    height: 0;
                    overflow: hidden;
                }
                & .text-block {
                    & textarea {
                        width: 98%;
                        resize: none;
                        padding: 10px;
                        font-family: inherit;
                        border: 1px solid #C2C2C2;
                        border-radius: 12px;
                        outline: none;
                        height: 90px;
                    }
                }
                & .action-block {
                    
                    display: flex;
                    justify-content: flex-end;
                    margin: 10px 0;

                    & .cancel {
                        color: #131639;
                        background-color: transparent;
                        border: 1px solid #131639;
                        margin-right: 10px;
                    }
                    & .share {
                        color: #ffffff;
                        background-color: #131639;
                        border: 1px solid #131639;
                    }
                }
                & .view-comments {
                    flex-direction: column;
                    & .comments-heading {
                        font-family: inherit;
                        color: #727171;
                        padding-bottom: 12px;
                        border-bottom: 1px solid #727171;
                    }
                    & .all-comments {
                        & .comment-content {
                            margin: 10px 0;
                            background-color: #F1EFEF;
                            padding: 6px 10px;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    
    }
    .bx--tooltip--shown {
        margin-top: 15px;
    }
    .caret {
        border-left: solid 10px transparent; 
        border-right: solid 10px transparent; 
        border-bottom: solid 10px #CED0FF; 
        height: 0; 
        width: 0;
    }
    .header-options {
        .caret {
            border-left: solid 10px transparent; 
            border-right: solid 10px transparent; 
            border-bottom: solid 10px #ffffff; 
            height: 0; 
            width: 0;
        }
        & .options {
            cursor: pointer;
            background-color: #ffffff;
            border-radius: 12px;

            & ul {
               
                list-style-type: none;
                width: 130px;
                margin: 0;
                padding: 10px 12px;

                & li {
                    text-align: left;
                }

                & li:not(:last-child) {
                    border-bottom: 1px solid;
                }
            }
        }
    }
    .runs-container {
        display: flex;
        border-radius: 8px;
        background-color: #131639;
        padding: 4px 20px;

        & .run {
            background-color: #ffffff;
            height: 30px;
            width: 30px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
    .post-choices-container {
        display: flex;
        border-radius: 8px;
        background-color: #131639;
        padding: 4px 20px;

        & .run {
            background-color: #ffffff;
            height: 30px;
            width: 30px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .posts {

        display: flex;
        flex-direction: column;
    
        & .post {
            display: flex;
            margin: 25px 0;
            padding: 10px;
            background-color: #FFFFFF;
            flex-direction: column;
            border-radius: 15px;
    
            & .post-header {
    
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
    
                & .left {
                    display: flex;
                    align-items: flex-start;
                    font-size: 14px;
    
                    & p {
                        margin: 0;
                    }
                    & .avatar-image {
                        height: 30px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                    & .shared-link {
                        color: #F78604;
                        text-decoration: none;
                    }
                    & .date-time {
                        color: #A1A1A1;
                        font-size: 12px;
                    }
                }
                & .right {
                    
                    display: flex;
                    align-items: center;
                    flex-basis: 100px;

                    & .icon-holder {
                        margin-right: 5px;
                    }
                }
            }
            & .post-content {
                padding-bottom: 15px;
                
            }
            & .post-footer {
                border-top: 1px solid #6d6a6a;
                display: flex;
                justify-content: space-between;
                padding-top: 15px;
                & .share-hld {
                    cursor: pointer;
                    & .share-modal {
                        border-radius: 20px;
                        padding: 20px;
                        box-sizing: border-box;
                        max-width: 650px;
                        position: fixed;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #ffffff;
                        width: 75vw;
                        height: 95vh;
                        z-index: 2;
                        transition: all 0.5s;

                        & .link-block {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding-bottom: 25px;
                            margin: auto;
                            border-top: 1px solid #707070;
                    
                            & .info {
                                color: #131639;
                            }
                            & .copy-link-cnt {
                                display: flex;
                                width: 100%;
                                & .copy-text-cnt {
                                    display: flex;
                                    flex-grow: 1;
                                    & .refer-id {
                                        font-family: inherit;
                                        width: 100%;
                                        padding-left: 25px;
                                        outline: none;
                                        border: 1px solid #131639;
                                        border-radius: 0 10px 10px 0;
                                    }
                                }
                            }
                            & .copy-btn-cnt {
                                
                                background-color: #131639;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                padding: 13px 16px;
                                border-radius: 10px 0 0 10px;
                    
                                & .copy {
                                    background-color: transparent;
                                    cursor: pointer;
                                    border: none;
                                    color: #ffffff;
                                    font-family: inherit;
                                }
                            }
                        }

                        &.hidden {
                            top: -100%;
                        }
                        &.visible {
                            top: 50%;
                        }

                        &__container__form {
                            border: 1px solid #707070;
                            padding: 10px;
                            border-radius: 8px;

                            & .content {
                                flex-direction: column;
                                align-items: baseline;
                                & .avatar {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 15px;
                                }
                            }
                        }

                        &__container__actions {
                            
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-end;
                            margin: 25px 0;


                            & .button {
                                & .cancel {
                                    color: #131639;
                                    background-color: transparent;
                                    border: 1px solid #131639;
                                }
                                & .share {
                                    color: #ffffff;
                                    background-color: #131639;
                                    border: 1px solid #131639;
                                }
                                &:not(:last-child) {
                                    margin-bottom: 10px;
                                }
                            }
                        }

                        & textarea {
                            width: 100%;
                            font-family: inherit;
                            border: none;
                            resize: none;
                            outline: none;
                            height: 150px;
                            border-bottom: 1px solid #707070;
                        }
                    }
                } 
                
                & .runs-hld {
                    cursor: pointer;
                    position: relative;

                    & .tip {
                        
                        position: absolute;
                        transition: all 0.4s ease-in;
                        top: -40px;
                        left: -135px;

                        &.hidden {
                            opacity: 0;
                            visibility: hidden;
                        }
                        &.visible {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    & svg {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        color: transparent;
                    }
                }

                & .comments-hld {

                    position: relative;
                    
                    & .info-box {
                        position: absolute;
                        background: #80CA00;
                        padding: 2px 5px;
                        font-size: 8px;
                        top: -10px;
                        right: -8px;
                        border-radius: 4px;
                        color: #cfcfcf;
                    }
                }
            }
            & .comments-holder {
                transition: all 0.5s ease-in;
                &.visible {
                    height: unset;
                }
                &.hidden {
                    height: 0;
                    overflow: hidden;
                }
                & .text-block {
                    & textarea {
                        width: 90%;
                        resize: none;
                        padding: 10px;
                        font-family: inherit;
                        border: 1px solid #C2C2C2;
                        border-radius: 12px;
                        outline: none;
                        height: 90px;
                    }
                }
                & .action-block {
                    
                    display: flex;
                    justify-content: flex-end;
                    margin: 10px 0;

                    & .cancel {
                        color: #131639;
                        background-color: transparent;
                        border: 1px solid #131639;
                        margin-right: 10px;
                    }
                    & .share {
                        color: #ffffff;
                        background-color: #131639;
                        border: 1px solid #131639;
                    }
                }
                & .view-comments {
                    flex-direction: column;
                    & .comments-heading {
                        font-family: inherit;
                        color: #727171;
                        padding-bottom: 12px;
                        border-bottom: 1px solid #727171;
                    }
                    & .all-comments {
                        & .comment-content {
                            margin: 10px 0;
                            background-color: #F1EFEF;
                            padding: 6px 10px;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    
    }
    .runs-container {
        display: flex;
        border-radius: 8px;
        background-color: #131639;
        padding: 4px 20px;

        & .run {
            background-color: #ffffff;
            height: 30px;
            width: 30px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
}