@media screen and (min-width: 769px) {
    .all-deals {
        display: flex;
        flex-wrap: wrap;
    
        & .deal {
            
            flex-basis: calc(25% - 25px);
            margin-right: 25px;
            margin-bottom: 25px;
            padding: 25px;
            box-sizing: border-box;
            background-color: #ffffff;
            text-align: center;
            border-radius: 12px;
            position: relative;
    
            & .tag {
                position: absolute;
                top: 8px;
            }
    
            &:nth-child(2n) {
                & button {
                    background-color: #D73131;
                }
                & .tag {
                    color: #D73131;
                }
            }
            &:nth-child(2n+1) {
                & button {
                    background-color: #26A700;
                }
                & .tag {
                    color: #26A700;
                }
            }
        }
    }
    .deal-modal {

        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & .deal-container {
            border-radius: 20px;
            background-color: #ffffff;
            position: relative;
        }

        & .deal-content {
            padding: 50px;
            
            & .copy-paste {
                color: #131639;
                font-size: 14px;
            }
            & .code-block {

                display: flex;
                border-radius: 45px;
                border: 1px solid #49348F;
                max-width: 575px;
                margin: auto;
                align-items: center;
                justify-content: space-between;
                padding-left: 51px;
                padding-right: 20px;
                box-sizing: border-box;

                & .copy {
                    background-color: #49348F;
                    border-radius: 45px;
                    padding: 8px 45px;
                    color: #cfcfcf;
                    cursor: pointer;
                    margin: 8px 0;
                }

                & .code {
                    color: #131639;
                    font-weight: bold;
                    font-size: 24px;
                    margin: 8px 0;
                    border: none;
                }
            }
            & .discount {
                font-weight: 600;
                font-size: 18px;
                color: #131639;
                & .highlight {
                    color: #FF8700;
                }
            }

            & img {
                width: 160px;
            }
        }

        & .deal-footer {
            max-width: 90%;
            margin: auto;
            border-top: 1px solid #707070;
            font-size: 12px;

            & p {
                padding: 0 12px;
            }
        }

        & .deal-tag {
            position: absolute;
            left: 35px;
            color: #FF0008;
        }
    }
}

@media screen and (max-width: 769px) {
    .all-deals {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & .deal {
            
            flex-basis: calc(50% - 25px);
            margin-bottom: 25px;
            padding: 25px;
            margin-right: 10px;
            box-sizing: border-box;
            background-color: #ffffff;
            text-align: center;
            border-radius: 12px;
            position: relative;

            & .deal-image {
                width: 90px;
            }
    
            & .tag {
                position: absolute;
                top: 8px;
            }
    
            &:nth-child(2n) {
                & button {
                    background-color: #D73131;
                }
                & .tag {
                    color: #D73131;
                }
            }
            &:nth-child(2n+1) {
                & button {
                    background-color: #26A700;
                }
                & .tag {
                    color: #26A700;
                }
            }
        }
    }
    .deal-modal {

        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & .deal-container {
            border-radius: 20px;
            background-color: #ffffff;
            position: relative;
            max-width: 90%;
        }

        & .deal-content {
            padding: 50px;
            
            & .copy-paste {
                color: #131639;
                font-size: 14px;
            }
            & .code-block {

                display: flex;
                border-radius: 45px;
                border: 1px solid #49348F;
                max-width: 575px;
                margin: auto;
                align-items: center;
                justify-content: space-between;
                padding-left: 51px;
                padding-right: 20px;
                box-sizing: border-box;

                & .copy {
                    background-color: #49348F;
                    border-radius: 45px;
                    padding: 8px 45px;
                    color: #cfcfcf;
                    cursor: pointer;
                    margin: 8px 0;
                }

                & .code {
                    color: #131639;
                    font-weight: bold;
                    font-size: 24px;
                    margin: 8px 0;
                    border: none;
                }
            }
            & .discount {
                font-weight: 600;
                font-size: 18px;
                color: #131639;
                & .highlight {
                    color: #FF8700;
                }
            }
        }

        & .deal-footer {
            max-width: 90%;
            margin: auto;
            border-top: 1px solid #707070;
            font-size: 12px;

            & p {
                padding: 0 12px;
            }
        }

        & .deal-tag {
            position: absolute;
            left: 35px;
            color: #FF0008;
        }
    }
}