body {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  /* background-color: black; */
}

.primary {
  font-family: 'Poppins';
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 300;
}