@media screen and (min-width: 769px) {

    .alert {
        & .create-post {
            border: none !important;
            width: 200px;
            border-radius: 6px;
            color: #ffffff;
            background-image: linear-gradient(90deg, #DB2DEE, #F86930);
        }
        & .form {
            
            transition: all 0.4s ease-in;

            &.visible {
                height: unset;
                padding: 12px;
                background-color: #fff;
                border-radius: 0 0 20px 20px;

                & .attachment-content {
                    margin-bottom: 10px;
                    & img {
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
            &.hidden {
                height: 0;
                overflow: hidden;
            }

            & .form-heading {
                color: #000C57;
                font-size: 16px;
            }
            & .post-content {
                width: 100%;
                margin: 5px 0;
                padding: 5px 12px;
                box-sizing: border-box;
                resize: none;
                border-radius: 12px;
                border: 1px solid #DADADA;
                outline: none;
                font-family: inherit;
            }
            & .post-footer {

                & .cta-container {
                    display: flex;
                    justify-content: space-between;

                    & .right-cta {
                        display: flex;
                        & .button {
                            & :disabled {
                                background-color: #AAAAAA;
                                background-image: none;
                            }

                            &:not(:last-child) {
                                margin-right: 5px;
                            }
                        }
                    }
                }

                & .button-icon {
                    top: 10px;
                }

                & .attach {
                    background-color: #ffffff;
                    border: 1px solid #DADADA;
                    width: 250px;
                    color: #000C57;
                }

            }
        }
    }
    .alert .alert-container{

        background-color: #383B5A;
        border-radius: 12px 12px 0 0;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        & .left {
            display: flex;
            align-items: center;
    
            & img {
                height: 45px;
            }
    
            & .primary {
                margin-left: 10px;
            }
        }
    }
    
}

@media screen and (max-width: 769px) {

    .alert {
        & .create-post {
            border: none !important;
            width: 200px;
            border-radius: 6px;
            color: #ffffff;
            background-image: linear-gradient(90deg, #DB2DEE, #F86930);
        }
        & .form {
            transition: all 0.4s ease-in;
            &.visible {
                padding: 15px 0;
            }
            &.hidden {
                height: 0;
                overflow: hidden;
            }
            & .form-heading {
                color: #cfcfcf;
                margin: 8px 0;
            }
            & .post-content {
                width: 100%;
                border-radius: 15px;
                padding: 5px;
                box-sizing: border-box;
                outline: none;
            }
            & .attch {
                max-width: 100%;
                width: 100%;
            }
            & .cta-container {
                & .right-cta {
                    display: flex;
                    justify-content: space-around;

                    & .button {
                        & :disabled {
                            background-color: #AAAAAA;
                            background-image: none;
                        }
                    }

                    & .cancel-post {
                        background-color: transparent;
                        border: 1px solid #DADADA;
                    }
                }
                & .left-cta {
                    margin: 15px 0;
                }
                & .attach {
                    width: 100%;
                    color: #ffffff;
                }
            }
        }
    }

    .alert .alert-container {

        background-color: #383B5A;
        border-radius: 12px;
        padding: 5px;
    
        & .left {
            display: flex;
            align-items: center;
    
            & img {
                height: 45px;
            }
    
            & .primary {
                margin-left: 10px;
            }
        }
    
        & .right {
            & .create-post {
                  display: none;
            }
        }
    }
    
}