@media screen and (min-width: 769px) {

    .alert {

        background-color: #383B5A;
        border-radius: 12px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        & .left {
            display: flex;
            align-items: center;
    
            & img {
                height: 45px;
            }
    
            & .primary {
                margin-left: 10px;
            }
        }
    
        & .right {
            & .create-post {
                   width: 200px;
                   border-radius: 6px;
                   color: #ffffff;
                   background-image: linear-gradient(90deg, #DB2DEE, #F86930);
            }
        }
    }
    
}

@media screen and (max-width: 769px) {

    .alert {

        background-color: #383B5A;
        border-radius: 12px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        & .left {
            display: flex;
            align-items: center;
    
            & img {
                height: 45px;
            }
    
            & .primary {
                margin-left: 10px;
            }
        }
    
        & .right {
            & .create-post {
                  display: none;
            }
        }
    }
    
}