@import url('https://fonts.googleapis.com/css?family=Raleway:200');

$BaseBG: #0f0f1a;

.digit-group {
	input {
        @media screen and (max-width: 769px) {
            width: 30px;
            border-radius: 5px;
            height: 30px; 
        }
		width: 60px;
        border-radius: 15px;
		height: 60px;
		background-color: lighten($BaseBG, 5%);
		border: none;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		font-weight: 200;
		color: white;
		margin: 0 6px;
	}
}

.otp-button {
    text-align: center;
    & button {
        font-family: inherit;
        font-size: 16px;
        background-image: linear-gradient(145DEG, #fbb017,#ce2127);
        &:disabled {
            background-image: none;
        }
    }
}