.on-boarding {
    margin: auto;
    background-color: #00000059;
    border: 1px solid #FFFFFF52;
    padding: 20px 50px;
    border-radius: 20px;

    & .gtkm {
        margin-top: 45px;
        max-width: 550px;
    }

    & .restrict-75 {
        max-width: 65%;
        word-break: break-all;
    }

    & .gtkm-upload {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .gtkm-upload .ctas {
        display: flex;
        & .button {
            margin-right: 15px;
        }
    }
    & .gtkm-footer {
        margin-top: 35px;
        text-align: center;
    }
}

.center {
    text-align: center;
}